@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

body {
  font-family: "Epilogue", sans-serif;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: var(--almost-black);

  display: inline;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
nav .logo {
  margin: 20px;
}

.ham,
.close-menu,
overlay {
  display: none;
}

.desktop-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 30px;
}
.desktop-nav .menu-item {
  margin-left: 25px;
}

.dropdown {
  position: relative;
  /* display: block; */
  margin: 0px 10px;
}
.dropdown:hover .dropbtn {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}
.dropdown-content {
  width: 180px;
  padding: 20px;
  position: absolute;
  background: var(--almost-white);
  color: var(--almost-black);
  border-radius: 10px;
  display: none;
  z-index: 99;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  display: flex;
  /* padding: 10px 12px; */
}
.dropdown-content a:hover {
  opacity: 0.7;
}
.dropdown-content img {
  margin-right: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.nav-btns {
  margin-left: 450px;
}
.nav-btns a:nth-child(1) {
  border: none;
  outline: none;
  background: transparent;
  margin-right: 10px;
}
.nav-btns a:nth-child(2) {
  border: 2px solid var(--almost-black);
  outline: none;
  background: transparent;
  padding: 12px 25px;
  border-radius: 10px;
  margin-left: 20px;
}
.nav-btns a:nth-child(1):hover,
a:nth-child(2):hover {
  font-weight: 700;
  cursor: pointer;
}
/* =============
   Hero-Section
   ============= */
.hero {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-gap: 80px;

  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.hero-text {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.hero-text h1 {
  width: 500px;
  font-size: 70px;
  margin-bottom: 30px;
}
.hero-text p {
  width: 350px;
  margin: 20px 0px;
  line-height: 1.5;
}
.hero-text button {
  margin-top: 60px;
  display: inline-block;
  background: var(--almost-black);
  color: var(--almost-white);
  font-size: 18px;
  width: 150px;
  padding: 12px 25px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.hero-text button:hover {
  cursor: pointer;
  background: transparent;
  color: var(--almost-black);
  border: 2px solid var(--almost-black);
  transition: all 0.4s ease-in-out;
}
.brand-logos {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-container {
  margin-top: 80px;
}

.img-container .hero-img {
  width: 100%;
}

@media (max-width: 1200) {
  .hero {
    max-width: 960px;
    grid-template-columns: repeat(2, 400px);
  }
}
@media (max-width: 900px) {
  nav {
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .ham {
    display: block;
    border: none;
    outline: none;
    position: absolute;
    top: 30px;
    left: 300px;
    cursor: pointer;
    background: transparent;
    transition: all 1s ease-in-out;
  }
  .ham.active {
    display: none;
  }
  .close-menu {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 300px;
    transition: all 0.3s ease-in-out;
  }

  .close-menu.active {
    display: block;
    z-index: 101;
  }
  nav .desktop-nav {
    /* background: transparent; */
    background: var(--almost-white);
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 80px;
    padding-left: 30px;
    z-index: 100;
    transition: all 1s ease-in-out;
  }

  nav .desktop-nav .menu-item a {
    margin: 0 12px;
  }
  nav .desktop-nav.active {
    right: 0;
  }
  /* ---------------------
       Mobile-menu Expanded
      --------------------- */
  .dropdown-content {
    position: relative;
    display: none;
    z-index: 100;
    box-shadow: none;
  }

  .dropdown-content.active {
    display: block;
  }
  /**nav-buttons */
  nav .desktop-nav .nav-btns {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .nav-btns a:nth-child(1) {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .nav-btns a:nth-child(2) {
    margin-left: 45px;
    padding: 10px 45px;
  }
  .overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 1s ease-in-out;
  }

  .overlay.active {
    display: block;
  }

  /* **Hero-Mobile */
  .hero {
    /* margin: 50px; */
    max-width: 100%;
    grid-template-columns: repeat(1, max(200px, 350px));
  }
  .img-container {
    margin: 0;
    grid-row: 1;
  }
  .img-container img {
    content: url(images/image-hero-mobile.png);
    max-width: 100%;
  }

  .hero-text {
    margin: 0;
    text-align: center;
  }
  .hero-text h1 {
    width: 100%;
    font-size: 30px;
    margin: 0px;
    text-align: center;
  }
  br {
    display: none;
  }
  .hero-text button {
    display: block;
    margin: 0 auto;
  }
  .brand-logos {
    width: 30%;
  }
  .brand-logos img {
    width: 80px;
    margin-left: 10px;
  }
}
